{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'userauth/css/login_style.css' %}">
{% endblock head %}


{% block navlist %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'blog_home' %}">Blog</a></li>
    <li><a href="{% url 'signup' %}">Signup</a></li>
</ul>
{% endblock navlist %}

{% block body %}

<div class="hero">
    <div class="login-box">
        {% load static %}
        <form action="login" method="post" class="login-form">
            {% csrf_token %}

            <label for="username">
                Username:
                <input type="text" name="username" placeholder="Username">
            </label>

            <label for="password">
                Password:
                <input type="password" name="password" placeholder="Password">
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
{% endblock body %}