{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'userauth/css/profile_style.css' %}">
{% endblock head %}


{% block navlist %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'blog_home' %}">Blog</a></li>
    {% if user.profile.is_doctor %}
    <li><a href="blog/{{user.username}}">My Blog</a></li>
    {% else %}
    <li><a href="{% url 'show_doctors' %}">Book</a></li>
    {% endif %}
    <li><a href="{% url 'logout' %}" class="logout-btn">Logout</a></li>
</ul>
{% endblock navlist %}

{% block body %}

<div class="hero">
    <div class="profile-box">
        <h1 class="username">Welcome {{user.username}}</h1>
        <img src="media/{{user.profile.profilepic}}" alt="Profile Pic">

        <h2>User Info:</h2>
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Address: {{user.profile.address}} </p>

        <p>Doctor: {{user.profile.is_doctor}}</p>
    </div>
</div>
{% endblock body %}