{% extends 'base.html' %}
{% block title %}
Signup
{% endblock title %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'userauth/css/signup_style.css' %}">
{% endblock head %}

{% block body %}

<div class="hero">
    <div class="signup-box">
        {% load static %}
        <form enctype="multipart/form-data" action="signup" method="post" class="signup-form">
            {% csrf_token %}

            <label for="first_name">
                First Name:
                <input type="text" name="first_name" placeholder="First Name" required>
            </label>

            <label for="lastname">
                Last Name:
                <input type="text" name="last_name" placeholder="Last Name" required>
            </label>

            <label for="profilepic">
                Profile Picture:
                <input type="file" name="profilepic" required>
            </label>

            <label for="username">
                Username:
                <input type="text" name="username" placeholder="Username" required>
            </label>

            <label for="email">
                Email:
                <input type="email" name="email" placeholder="Email" required>
            </label>

            <label for="address">
                Address:
                <input type="text" name="address" placeholder="Address" required>
            </label>

            <label for="password">
                Password:
                <input type="password" name="password1" placeholder="Password" required>
            </label>

            <label for="password">
                Confirm Password:
                <input type="password" name="password2" placeholder="Confirm Password" required>
            </label>

            <label for="is_doctor" class="type-input">
                Are You A Doctor?
                <input type="checkbox" name="is_doctor" id="is_doctor">
            </label>
            <input type="submit" value="signup">
        </form>
    </div>
</div>
{% endblock body %}