{% extends 'base2.html' %}

{% block title %}
Appointment
{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'booking/css/book_doctor_style.css' %}">
{% endblock head %}

{% block navlist %}
<ul>
    <li><a href="/">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'show_profile' %}">Profile</a></li>
    <li><a href="{% url 'blog_home' %}">Blog</a></li>
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
    <li><a href="{% url 'account_signup' %}">Signup</a></li>
    {% endif %}
</ul>
{% endblock navlist %}

{% block body %}
<br><br>
<div class="book-container">
    <form action="{{doctor_mail}}" method="post">
        {% csrf_token %}
        <label for="speciality">
            Speciality:
            <input type="text" name='speciality'>
        </label>
        <label for="start_time">
            Date and Time:
            <input type="datetime-local" name='start_time'>
        </label>
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}