* {
  margin: 0;
  padding: 0;
}

.post-view-container {
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-view {
  width: 80%;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author {
  color: gray;
}
