* {
  margin: 0;
  padding: 0;
}

.all-doc {
  display: flex;
  justify-content: space-around;
}

.doc-box {
  width: 40%;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.doc-box img {
  margin: auto;
  width: 90%;
}
.doc-box h3 {
  text-align: center;
}
